<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://apple.com">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <value>software-package</value>
                    <key>url</key>
                    <value>https://ngrok-free.dev</value>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <value>com.valde3713.sypers</value>
                <key>bundle-version</key>
                <value>1.0.0</value>
                <key>kind</key>
                <value>software</value>
                <key>title</key>
                <value>Sypers</value>
            </dict>
        </dict>
    </array>
</dict>
</plist>
